/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-blue: #2567e8;
  --color-facebook-blue: #2788d3;
  --color-light-blue: #5caae0;
  --color-green: #18b613;
  --color-yellow: #eebf3c;
  --color-gray: #858585;
  --color-dark-gray: #686868;
  --color-light-gray: #bbbabb;
  --color-black: #0c0c0c;

  /* Font Size */
  --font-large: 24px;
  --font-medium: 19px;
  --font-regular: 16px;
  --font-small: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  /* Size */
  --size-border-radius: 6px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: var(--font-small);
  letter-spacing: 1px;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-gray);
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 20px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 20px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

#login {
  background-color: var(--color-white);
  height: 100vh;
}

.inner {
  width: 600px;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-gray);
  border-radius: calc(var(--size-border-radius) * 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
}

/* Header */
.header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid var(--color-light-gray);
}

.header__title {
  font-weight: var(--weight-regular);
  display: inline-block;
  text-align: center;
}

.header__close {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
}

.login__description {
  font-weight: 200;
  margin: 26px 30px 8px 30px;
}

.login__check-btn {
  position: relative;
  margin: 12px 30px;
}

.login__check-txt {
  color: var(--color-gray);
  font-size: 20px;
  font-weight: var(--weight-light);
  padding-left: 32px;
  cursor: pointer;
}

#login__check-empty-img,
#login__check-img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(1.1);
  cursor: pointer;
}
#login__check-img.invisible {
  display: none;
}

button.login__btn {
  color: var(--color-white);
  font-size: 26px;
  font-weight: var(--weight-semi-bold);
  letter-spacing: 3px;
  background-color: var(--color-blue);
  border-radius: var(--size-border-radius);
  padding: 20px;
  margin: 10px 30px;
  opacity: 0.9;
}

button.login__btn:hover {
  opacity: 1;
}

.login__join {
  color: var(--color-gray);
  font-size: 17px;
  font-weight: var(--weight-regular);
  text-align: center;
  margin: 10px 30px;
}

.login__join-membership {
  padding-right: 8px;
  cursor: pointer;
}
.login__join-findpw {
  padding-left: 8px;
  cursor: pointer;
}

.or-text {
  display: block;
  position: relative;
  text-align: center;
  color: var(--color-gray);
  font-size: var(--font-regular);
  padding: 16px 20px;
  margin-top: 4px;
}

span.or-text:before {
  content: '';
  position: absolute;
  margin-left: 30px;
  top: 50%;
  left: 0;
  background-color: var(--color-light-gray);
  width: 40%;
  height: 1px;
}

.or-text:after {
  content: '';
  position: absolute;
  margin-right: 30px;
  top: 50%;
  right: 0;
  background-color: var(--color-light-gray);
  width: 40%;
  height: 1px;
}

/* Social Login */
.social-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

a.btn {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: var(--weight-regular);
  border: 1.6px solid var(--color-gray);
  border-radius: var(--size-border-radius);
  padding: 16px 20px;
  margin: 6px 30px;
  opacity: 1;
}

a.btn:hover {
  opacity: 0.8;
}

img.social-login__img {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translateY(-50%) scale(1.2);
}

a.btn-facebook {
  border: 1.6px solid var(--color-light-blue);
}

a.btn-naver {
  border: 1.6px solid var(--color-green);
}

a.btn-kakao {
  border: 1.6px solid var(--color-yellow);
}
